.jcarousel-wrapper {
   position:relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    height: 85px;
	width:775px;
	margin:0 auto;
}

.jcarousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
	width:151px;
	text-align:center;
	line-height:85px;
	margin:0;
	padding:0;
	background:none;
}
.jcarousel li img {
	display:inline;
	vertical-align:middle;
}

/** Carousel Controls **/

.carousel-control-prev,
.carousel-control-next {
	display:block;
	width:14px;
	height:21px;
    position: absolute;
    top: 33px;
	background:url("../images/brands-arrow.png") no-repeat 0 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 15);
	-moz-opacity:0.15;
	-khtml-opacity:0.15;
	opacity:0.15;

}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
	background:url("../images/brands-arrow.png") no-repeat -14px 0;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 80);
	-moz-opacity:0.8;
	-khtml-opacity:0.8;
	opacity:0.8;
}