/*    LAYOUT
    ----------------------------------------------------------------- */
html, body {
	height: 100%;
	margin:0;
	padding: 0;
	position:relative;
}
.all{
	position: relative;
	height: auto;
	min-height: 100%;
	margin:0 auto;
	overflow: hidden;
	padding-bottom: 1px;
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.footer{
	display: none;
}
.container-block {
	position:relative;
	width: 1000px;
	margin: 0 auto;
	z-index: 2;
}
.cont-inner {

}



.wrap {
	zoom:1;
}
.wrap:after {
	clear:both;
	display:block;
	height:0;
	font-size:0;
	visibility:hidden;
	content:"";
}

/*    BASE
    ----------------------------------------------------------------- */
body {
	color:#333333;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	line-height:17px;
}
h1 {
	font-size:30px;
	line-height:1.2;
	margin:0 0 15px;
	font-weight:normal;
}
h2 {
	font-size:24px;
	line-height:1.2;
	margin:0 0 6px;
	font-weight:normal;
}
h3{
	font-size:18px;
	line-height:1.2;
	font-weight:normal;
	margin:0 0 8px;
}
a {
	color:#2e7ec8;
}
a:hover {
	text-decoration:none;
}
ul {
	margin:0 0 0 20px;
}
ul li {
	padding:0 0 0 9px;
	margin:0 0 3px;
}
p {
	margin:0 0 7px;
}
img {
	border:none;
}
br {
	clear:both;
}
.img {
	display:block;
}
/*    LAYERS
    ----------------------------------------------------------------- */

/*	header
	----------------------------------------------------------------- */
.header {
	height:532px;
	position:relative;
	background: url("../images/head-bg.jpg") no-repeat center center;
	background-size: cover;
	z-index:5;

}
.header .container-block {
	height: 532px;
	position: relative;

}
.logo {
	position:absolute;
	left:0px;
	top:45px;
}
.header-text {
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	width: 413px;
	position: absolute;
	left: 0;
	top: 200px;
}
.header-text p {
	margin: 0 0 32px;
	padding: 0;
}
.header-video {
	position: absolute;
	top: 153px;
	right: 0;
	width: 499px;
	height: 281px;
	-webkit-box-shadow: 0 0 18px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 18px 0 rgba(0,0,0,0.5);
}
.header-phone {
	font-weight: 300;
	position: absolute;
	top: 42px;
	right: 0;
	color: #fff;
	font-size: 35px;
	line-height: 1;
}
.header-phone span {
	font-size: 22px;
	position: relative;
	top: -9px;
	left: 6px;
}

.content {
	padding: 110px 0 0 0;
}
.split-color {
	position: relative;
}
.center-dashed {
	width: 1px;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -1px;
	z-index: 1;
	border-left-color: #1f5070;
	border-left: rgba(31, 80, 112, 0.4) dashed 2px;
}
.split-color:before {
	display: block;
	content: '';
	width: 1920px;
	height: 100%;
	position: absolute;
	right: 50%;
	top: 0;
	background: #81ceea;

}
.split-color:after {
	display: block;
	content: '';
	width: 1920px;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	background: #ffffc3;
}

.main-promo {
	zoom:1;
	margin-bottom: 75px;
}
.category-head {
	margin: 0;
}
.main-promo:after {
	content:"";
	display:block;
	visibility:hidden;
	font-size:0;
	clear:both;
	height:0;
}
.main-promo .main-category  {
	font-size: 40px;
	line-height: 1;
	color: #1f5070;
	margin: 0 0 61px;
	text-align: center;
	position: relative;
}
.main-promo .main-category.patient img {
	position: absolute;
	left: -1px;
	top: -52px;
}
.main-promo .main-category.clinic img {
	position: absolute;
	right: 0;
	top: -57px;
}
.mp-left {
	float: left;
	width: 413px;
	text-align: right;
	font-size: 15px;
	line-height: 27px;
	padding-top: 12px;
	padding-left: 16px;
}
.mp-right {
	float: right;
	width: 404px;
	text-align: left;
	font-size: 15px;
	line-height: 27px;
	padding-top: 12px;
}
.mp-center {
	width: 183px;
	float: left;
	text-align: center;
}
.mp-head {
	clear: both;
	text-align: center;
	margin: 0 0 23px;
}
.mp-head h5 {
	display: inline-block;
	zoom: 1;
	*display: inline;
	height: 48px;
	line-height: 38px;
	color: #333333;
	font-size: 25px;
	padding: 0 22px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}
.mp-head h5 span {
	position: relative;
	z-index: 2;
}
.mp-head h5.yellow {
	background: #ffffc3;
	border: #bbcaaa dashed 2px;
}
.mp-head h5.yellow:after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	width: 60%;
	height: 48px;
	background: #ffffc3;
	margin-left: 12px;
}
.mp-head h5.blue {
	background: #81ceea;
	border: #63a8c5 dashed 2px;
}
.mp-head h5.blue:after {
	content: '';
	display: block;
	position: absolute;
	right: 50%;
	top: -2px;
	width: 60%;
	height: 48px;
	background: #81ceea;
	margin-right: 12px;
}
.button-order {
	display: inline-block;
	zoom: 1;
	*display: inline;
	font-weight: 300;
	font-size: 20px;
	height: 38px;
	line-height: 38px;
	background: #ec8151;
	padding: 0 47px;
	color: #fff;
	text-decoration: none;
	outline: none;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	-webkit-box-shadow: 0 2px 0 0 #bf5f33;
	box-shadow: 0 2px 0 0 #bf5f33;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.button-order:hover {
	color: #fff;
}
.button-order:focus {
	text-decoration: none;
	color: #fff;
}
.button-order:active {
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	top:2px;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.set-order-patient p {
	color: #fff;
	margin: 0 0 17px;
}
.set-order-clinic p {
	color: #81ceea;
	margin: 0 0 17px;
}
.set-order-block {
	position: relative;
	border-top-color: #1f5070;
	border-top: rgba(31, 80, 112, 0.4) dashed 2px;
	padding-top: 34px;
}
.so-left-grad {
	width: 100px;
	height: 2px;
	background: url("../images/blue-grad.png") repeat-y 0 0;
	position: absolute;
	left: 0;
	top: -2px;
}
.so-right-grad {
	width: 100px;
	height: 2px;
	background: url("../images/yellow-grad.png") repeat-y 0 0;
	position: absolute;
	right: 0;
	top: -2px;
}
/*	footer
	----------------------------------------------------------------- */

