@font-face {
    font-family: 'HelveticaMedium';
    src: url('../fonts/helv-6-medium_0-webfont.eot');
    src: url('../fonts/helv-6-medium_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helv-6-medium_0-webfont.woff2') format('woff2'),
         url('../fonts/helv-6-medium_0-webfont.woff') format('woff'),
         url('../fonts/helv-6-medium_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

h1,h2,h3,h4, h5, h6, .h1 {
	font-family: 'HelveticaMedium', sans-serif!important;
	line-height:1.4em;
	margin:1em 0 0.2em 0;
	color:inherit;
	font-weight:normal;

}

section.page-header .h1 a
{
	color: #414141;
}

section.page-header .h1
{
	margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 300;
	color: #414141;
}

h1{
	margin-top:0px;
}

p{
	margin-bottom:18px;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #009041;
}

.condensed{
	font-family: 'HelveticaMedium', sans-serif;
}

.non-condensed{
	font-family: 'Open Sans', sans-serif!important;
}

.navbar-default .navbar-nav > li > a
{
    font-family: 'Open Sans', sans-serif;
}

.carousel-img
{
    text-align: center;
}

.carousel-e
{
    background: white;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right
{
    box-shadow: -1px 3px 24px 6px silver;
    background: rgba(255, 255, 255, 0);
}

.carousel-e .carousel-indicators li
{
    box-shadow: -1px 1px 29px 7px silver;
}

.slogan
{
    font-size: 1.7em;
}

.breadCr {
    line-height: 26px;
}
section.page-header .breadcrumb {
    margin-top: auto;
}

div.row>div.shop-item img.img-responsive {
    max-height: 150px;
    max-width: 160px;
    min-height: 150px;
}

#topMain li.active, #topMain li:hover, .list-group li:hover, .list-group li.active {
	background: url('../img/bg/bckg.jpg');
}

#topMain>li>a {
    height: 60px;
    line-height: 40px;
}

#topMain.nav-pills>li>a.dropdownToggle {
    padding-right: 25px;
}

#topMain.nav-pills>li>a.dropdownToggle:after {
    display: block;
    content: "\f107";
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -5px 0 0;
    font-family: FontAwesome;
    font-size: 12px;
    opacity: .3;
    line-height: 1em;
    -webkit-transition: -webkit-transform .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in;
    -ms-transition: -ms-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;
}


.thumbnail {
    text-align: center;
}

.thumbnail.catalog_list {
    min-height: 200px;
}

.text-center {
    text-align: center;
}

/*colors and globals -  green*/

body{
	font-size:15px;
}

section.promo-2{
	background-size:initial!important;
}

@media (min-width:320px) and (max-width: 768px){
	.promo-2_descr{
		height:auto;
	}
}

@media (min-width: 768px) and (max-width: 990px){
	.promo-2_descr{
		height:111px;
	}
}

@media (min-width: 991px) and (max-width:1199px){
	.promo-2_descr{

		height: 224px;
	}
}

@media (min-width: 1200px){
	.promo-2_descr {
		height:181px;
	}

}

a, .cl-green{
	color:#009041;
}

.cl-light-green{
	color: #a8bf21l
}

.cl-yellow{
	color:#ffa21c;
}

.cl-orange{
	color:#FBA921!important;
}

.cl-white{
	color:#fff;
}

.cl-black{
	color:#000000!important;
}

.cl-red{
	color:#E81616;
}

.bg-white{
	background-color:#fff!important;
}

.bg-green{
	background-color:#009041!important;
}

.bg-dark-green{
	background-color:#009041!important;
	color:#fff!important;
}

.bg-dark-green a{
	color:#fff;
}

.bg-light-green{
	background-color: #a8bf21;
}

.bg-light-gray{
	background-color:#F4F4F4;
}

.bg-yellow{
	background-color:#fba921!important;
}

.pat-1{
	background:url(../images/pattern-3.png)center center;
}

.bg-1{
	background:url(../images/bg_1.jpg)center bottom;
	background-size: cover!important;
}

@media (max-width: 992px){
	.bg-1{
		background:url(../images/bg_1.jpg)left bottom;
	}
}

section.category-slider{
	padding:0;
	border:0;
}

.sl-title{
	font-size:30px!important;
}

.category-slider .master-slider{
	margin-bottom:193px!important;
}

.ms-view{
	background: #F4F4F4;
}

.ms-slide-bgcont{
	background-color:#F4F4F4!important;
}

.category-slider .ms-thumb-list{
	border-bottom:none!important;
}

.ms-thumb-frame img{
	width:auto!important;
	margin-top:-20px;
}

.ms-thumb .img-top{
	display:none;
	position:absolute;
	top:13px;
	left:6px;
}

.category-slider .ms-thumb-frame .ms-thumb{
	opacity:1!important;
	position:relative;
}

.category-slider .ms-tabs .ms-thumb h3{
	color:#009041;
	width: 105px;
    margin: 0 auto;
	transition: all .500s;
		font-family: 'Open Sans', sans-serif!important;
}

.category-slider .ms-tabs .ms-thumb-frame-selected h3, .category-slider .ms-tabs .ms-thumb h3:hover, .category-slider .ms-tabs .ms-thumb:hover h3{
	color:#ffa21c!important
}

.category-slider .ms-tabs .ms-thumb-frame-selected .img-orig{
	opacity:0!important;;
}

.category-slider .ms-tabs .ms-thumb-frame-selected .img-top{
	display:block!important;;
}

.category-slider .ms-thumb-list{
	bottom:-193px!important;
}

.category-slider .ms-slide .text-block{
	z-index:1;

}

.ms-nav-next, .ms-nav-prev{
	position:absolute;
	width:17px;
	height:53px;
	top:50%;
	margin-top:-27px;
	opacity:1!important;
	cursor:pointer;
}

.ms-nav-prev{
	left:-20px;
	background:url(../images/prev-sl-big.png)center center no-repeat;
}

.ms-nav-next{
	right:-20px;
	background:url(../images/next-sl-big.png)center center no-repeat;
}

@media (max-width: 780px){
	.category-slider .ms-slide .text-block{
		z-index:1;
		width:99%;
	}

	.text-center-xs{
		text-align:center;
	}
}

.category-slider img.ms-layer {
	display: block;
    height: auto;
}

@media (max-width: 495px){
	.news-slider-img-wrap{
		display:block;
		width:100%;
		height: 280px;
		overflow: hidden;
	}
}

@media (min-width: 495px){
	.news-slider-img-wrap{
		display:block;
		width:100%;
		height: 150px;
		overflow: hidden;
	}
}

.owl-carousel.news-slider{
	overflow:visible;
}

.owl-theme .owl-controls .owl-buttons div{
	background-color:rgba(255, 255, 255, 0.0);
	border:none!important;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
	background: url(../images/prev-sl-big.png)center center no-repeat!important;
	width: 22px!important;
    height: 35px!important;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
	background: url(../images/next-sl-big.png)center center no-repeat!important;
	width: 22px!important;
    height: 35px!important;
}

.owl-theme .owl-controls .owl-buttons div i:before{
	content:'';

}

@media (min-width: 780px){
	.controlls-over .owl-controls .owl-prev{
		left:-60px;
	}

	.controlls-over .owl-controls .owl-next{
		right:-60px;
	}
}

@media  (max-width: 480px){
	ul.shop-item-list>li {
		 width: 49%;
	}

	div.shop-item{
	    padding: 0px!important;
		margin-bottom:10px!important;
	}

	div.shop-item-summary h2 {
		margin-top: 0px!important;
	}


}

div.shop-item-buttons{
	margin-bottom:6px;
}


#topBar{
	padding-top:0px;
	padding-bottom:0px;
	border:none!important;
	height:45px;
	position: relative;
}

#header.fixed #topBar{
	display:none;
}

#topBar > .container{
	padding-left:200px;
	padding-top:10px;
	padding-bottom:10px;
}

#topBar:before{
	position: absolute;
    content: ' ';
    width: 100%;
    height: 38px;
    bottom: 0px;
    right: 50%;
    margin-right: 400px;
    background: url(../images/top-bar-bg.png)center right no-repeat transparent;
    z-index: 5;
}

#topBar ul.dropdown-menu{

}

.header-phone_in-fixed{
	display:none;
}

#header.fixed  .header-phone_in-fixed{
	display:block;
}

.user-menu  .dropdown-menu{

}

.user-menu >li>a{
	color:#fff!important;
}

.profile-body .nav-tabs >li >a{
	font-size:20px;
}

#topMain.nav-pills>li>a{
	color:#009041;
}

#header{
	/*box-shadow:none!important;*/
	z-index:999!important;
	/*border-bottom:none!important;*/
}

#header.fixed{
	border-bottom:none!important;
	box-shadow:0 0 40px rgba(0, 0, 0, 0.33)!important;
}

#topNav a.logo{
	margin-top: -24px;
    height: auto!important;
    line-height: initial;
    position: relative;
    z-index: 5;
}

#topNav a.logo img{
	height:83px!important
	width:auto;
	margin-top:0px;
}

#header.fixed #topNav a.logo{
	margin-top: 0;
}

#header.fixed #topNav a.logo img{
	height: 52px!important;
}

@media (max-width: 992px){
	#topNav div.nav-main-collapse.in {
		display: block !important;
		overflow-x: hidden!important;
		box-shadow: 0px 4px 9px rgba(68, 68, 68, 0.4);
	}
}

@media (max-width: 1200px){
	#topNav a.logo{
		margin-top:0px;
	}

	#topNav a.logo img{
		height:50px!important;
		width:auto;
		margin-top:5px;
	}

	#topBar:before{
		content:none;
	}

	#topBar > .container{
		padding-left:15px;
	}
}

@media (min-width: 1200px){
	#topNav .navbar-collapse{

		margin-left:163px;
		margin-right:50px;
	}


}

#topNav .navbar-collapse{
	float:none;
}
#topBar ul li a{
	text-transform:none;
}


#header ul.nav-second-main li.quick-cart>a{
	color:#009041;
}

#header ul.nav-second-main {
    margin-top: 20px;
}

.header-search form{margin-bottom:0px;}
/*promo-1*/
.promo-1{
	height:320px;
	background-color:#009041;
}

.promo-1_row{
	height:320px;
	background:url(../images/bg-white-sircle.png) center right no-repeat ;
	background-size:initial;
}

.promo-1 .btn-bordered{
	border-color:#fff!important;
	color:#fff!important;
	background-color:transparent!important;
	box-shadow:1px 0 4px #009041, 1px 0 4px #009041,  1px 0 4px #009041;
}

@media (max-width: 991px){
	.promo-1,.promo-1_row{
		height:auto;
		background-color:#fff;
	}

	.promo-1_row{
		background:none;
	}

	.promo-1 .btn-bordered{
		border-color:#009041!important;
		color:#009041!important;
		background-color:transparent!important;
	}
}

.promo-1_stevia-img{
	position:absolute;
	right:0;
	top:25px;
	width:360px;
	height:auto;
	z-index: 0;
}

.promo-word-1,.promo-word-2,.promo-word-3,.promo-word-4, .promo1-btn-wrap{
	position:absolute;
	z-index: 1;
    text-shadow: 0px 0px 10px #009041, 0px 0px 5px #009041, 0px 0px 3px #009041,0px 0px 2px #009041;
}

.promo-word-1{

	top:15px;
	font-weight:bold;
	font-size:40px;
	text-transform:uppercase;
}

.promo-word-2{
	top: 52px;
    left: 10%;
    font-size: 80px;
	line-height:1em;
    font-weight: bold;
    text-transform: uppercase;
}

.promo-word-3{
	top: 155px;
    left: 20px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.promo-word-4{
	top: 200px;
    left: 42px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.promo1-btn-wrap{
	top: 233px;
    left: 46px;
}

@media (max-width: 991px){
	.promo-word-1,.promo-word-2,.promo-word-3,.promo-word-4{
		position:relative!important;
		font-size:40px;
		display:inline;
	}
	.xs-text-center{
		text-align:center;
	}
}

.section-banner{
	background: url('../images/bg_1-3.jpg')center center no-repeat #009041;
}

@media (max-width: 768px){
	.section-banner{
		background-image:none;
	}
}

/*promo-2*/


.promo-2 h3{
	margin:10px 0 10px 0;
}

.white-sircle{
	background-color:#fff;
	width:200px;
	height:200px;
	border-radius:500px;
	margin:0 auto 15px auto;
	overflow:hidden;
	//box-shadow: 0 0 12px rgba(68, 68, 68, 0.42);
}

.promo-2_item-wrap .box-static{
	background-color:#fff;
}

.white-sircle img{
	display:block;
	margin: 0 auto;
}

.white-sircle span{
	display:inline-block;
	margin-bottom:3px;
	line-height:70%;
}

.white-sircle p{
	margin-bottom:0px;
	line-height:25px;
}

@media (min-width: 991px){
	.stevia-bl{
		margin-top:-36px;
	}

	.stevia-bl h3{
		margin-top:30px;
		margin-bottom: 31px;
	}
}


/*promo-3*/
.heading-bg-white{
	width: 100%;
    padding: 32px 0 70px 0;
    background: url(../images/heading-bg-2.png)center -56px no-repeat;
}

.bg-white-transp {
	background-color: rgba(255, 255, 255, 0.88);
    color: #333;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
}

.d-bl{
	display:block;
}
@media (max-width: 768px){
	.xs-text-left{
		text-align:left!important;
	}
}

.text-bold{
	font-weight:bold;
}

.list-leaf > li{
	position:relative;
	padding-left:30px;
}

.list-leaf > li:before{
	position:absolute;
	content:' ';
	width:20px;
	height:20px;
	background:url(../images/li-leaf.png)center center no-repeat;
	background-size:cover;
	top:0px;
	left:0px;
}

@media (min-width: 768px){
	.heading-sircle-img-1, .heading-sircle-img-2{
		position:relative;
		height:50px;
		text-shadow: 0 0 29px #fff, 0 0 19px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
		font-size: 38px;
		line-height: 40px;
	}

	.heading-sircle-img-1:before, .heading-sircle-img-2:before{
		content:' ';
		width:100%;
		height:2px;
		background-color:#009041;
		position:absolute;
		top:50%;
		left:0px;
		z-index:-2;
	}

	.heading-sircle-img-1:after{
		/* content:' ';
		width:230px;
		height:230px;
		background:url(../images/hh-01-05.jpg)center center no-repeat;
		position:absolute;
		top:0;
		left:50%;
		margin-left:-115px;
		z-index:-1; */
	}

	/* .heading-sircle-img-2:after{
		content:' ';
		width:230px;
		height:230px;
		background:url(../images/hh-02-05.jpg)center center no-repeat;
		position:absolute;
		top:0;
		left:50%;
		margin-left:-115px;
		z-index:-1;
	}
	 */

}



.border-r-3 {
	border-radius:3px;
}

.border-r-15-0 {
	border-radius:15px 0px;
}

.border-r-20 {
	border-radius:20px;
}

.bg-white-transp h3{
	margin-bottom:10px;
	margin-top:0px;
	color: #009041;
}

div.heading-title.heading-line-single:before {
    border-top: #DDD 1px solid;
}

.promo-3 p{
	margin-bottom:0;
}



@media (max-width: 992px){
	.promo-3_item-wrap .col-sm-6:nth-child(even){
		    margin-bottom: 46px;
	}
}

.promo-3_item-wrap h3{
	line-height:1.2em;
}

@media (min-width: 991px) and (max-width:1200px){
	.promo-3-item-290{
		height:320px;
	}
}

.promo-3-item-290{
		height:290px;
	}


.promo-3-item-230{
	min-height:230px;
}

.icon-wrap-sircle{
	background-color: #FBA921;
    color: #fff;
    width: 40px;
    height: 40px;
    float: left!important;
    text-align: center;
    border-radius: 30px;
    margin-right: 10px;
    padding-top: 3px;
	transition-duration: 0.8s;
	-webkit-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
}

.promo-3 h3:hover .icon-wrap-sircle{
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}

@media (max-width: 991px){
	.promo-3-item-290, .promo-3-item-200{
		height:auto!important;
		min-height:initial!important;
	}
}

/*promo-4*/

@media (max-width: 768px){
	.promo-4{
		background:url(../images/big-or-arr.png)center top no-repeat;
	}

	.promo-4  div.row>div {
		margin-bottom: 10px;
	}
}

@media (min-width: 991px){
	.promo-4  .counter{
		margin-left:-45px;
	}
}

.countTo-sm h4, .countTo-sm h5, .countTo-md h4, .countTo-md h5, .countTo-lg h4, .countTo-lg h5{
	margin-top:5px;
}

.countTo-md span.countTo{
	margin-bottom:5px;
}
/*global*/
.p-4{
	padding:4px;
}
.p-10{
	padding:10px;
}


.p-20{
	padding:20px;
}

.pr-10{
	padding-right:10px;
}

.pr-30{
	padding-right:30px;
}

.pl-15{
	padding-left:20px;
}

.pl-20{
	padding-left:20px;
}

.pl-30{
	padding-left:30px;
}


.mt-0{
	margin-top:0!important;
}

.mb-0{
	margin-bottom:0!important;
}

.mt-10{
	margin-top:10px;
}

.mt-24{
	margin-top:24px;
}

.mt-20{
	margin-top:20px;
}

.mt-30{
	margin-top:30px;
}

.mt-5{
	margin-top:5px;
}


.mb-0{
	margin-bottom:0px!important;
}
.mb-5{
	margin-bottom:5px;
}
.mb-10{
	margin-bottom:10px!important;
}
.mb-25{
	margin-bottom:25px;
}
.mb-30{
	margin-bottom:30px;
}

.mb-70{
	margin-bottom:70px;
}


.fz12{
	font-size:12px;
}

.fz14{
	font-size:14px;
}

.fz16{
	font-size:16px;
}
.fz15{
	font-size:15px;
}
.fz18{
	font-size:18px;
}


.fz20{
	font-size:20px;
}

.fz24{
	font-size:24px;
}

.fz25{
	font-size:25px;
}

.fz30{
	font-size:30px;
}

.fz40{
	font-size:40px;
}


.pt-25{
	padding-top:25px;
}

.p-y-0{
	padding-top:0!important;
	padding-bottom:0!important;
}

.p-y-20{
	padding-top:20px!important;
	padding-bottom:20px!important;
}

ul.li-mb-20 > li{
	margin-bottom:20px;
}

ul.li-mb-10 > li{
	margin-bottom:10px;
}

div.row>div img.img-responsive{
	width:auto;
}

.p-rel{
	position:relative;
}

.p-abs-bottom{
	position:absolute;
	bottom:0;
}

.p-abs-bottom-right{
	position:absolute;
	bottom:0;
	right:0;
}


.social-odnoklassniki:hover {
    background-color: #FBA921 !important;
}

.pb-50{
	padding-bottom:50px;
}

.heading-title h2{
	font-size:24px!important;
}

.heading-title.bg-orange{
	padding:10px 0;
}

.heading-title.bg-orange.heading-arrow-bottom:after{
	border-top-color:#FF851B;
	z-index:2;
}

.heading-title.bg-green {
    padding: 10px 0;
}

.heading-title.bg-green.heading-arrow-bottom:after{
	border-top-color:#009041!important;
	z-index:2;
}

.arrow-parlx{
	position:relative;
	padding-bottom:30px;
}

.arrow-parlx:after{
	content:' ';
	width:100%;
	height:20px;
	position:absolute;
	bottom:-2px;
	left:0px;
	background:url(../images/heading-parlx-bg.png)center center no-repeat;
}

.news-teaser-cnt >p{
	margin-bottom:8px;
}

#topNav ul.dropdown-menu{
	border-color: #009041 #fff #fff;
}
}

#sidepanel.sidepanel-theme-color, div.alert.alert-theme-color, div.alert.alert-primary, span.badge-default, span.label-default, .list-group-item.active>.badge.badge-default, .nav-tabs.nav-alternate>li.active>a, .datepicker table tr td.active.active, .callout-theme-color, .progress-bar-primary, .toast-primary, .owl-theme .owl-controls .owl-page span, .open>.dropdown-toggle.btn-primary, .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .pagination>.active>a, .pagination>.active>a:hover, #header li.quick-cart .quick-cart-box a.btn, #header li.quick-cart .quick-cart-box a.btn:hover, #topMain.nav-pills>li.active>a>span.theme-color, .ei-slider-thumbs li.ei-slider-element, .flex-control-paging li a.flex-active, .tp-caption.block_theme_color, .tp-bullets.simplebullets.round .bullet.selected, i.ico-color, .caption-primary, .shop-list-options .btn.active, .box-static.box-color, .switch.switch-primary > input:checked + .switch-label, .fancy-file-upload.fancy-file-primary>span.button, .primary-slider .ui-slider .ui-slider-handle:before, .primary-slider .ui-slider .ui-slider-range, .ribbon-inner, .info-bar.info-bar-color, .music-album-title:hover, .inews-item .inews-thumbnail .inews-sticky, #progressBar #bar, #page-menu, #page-menu ul{
    background-color: #009041;

}

.open>.dropdown-toggle.btn-primary, .btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover .pagination>.active>a, .pagination>.active>a:hover,.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
	background-color: #009041;
    border-color: #067739;
}

.btn{
	border-radius:15px 0!important;
}

.btn-success, .btn-primary,  #header li.quick-cart .quick-cart-box a.btn{
	background-color: #009041;
    border-color: #067739;
}

.btn-success:hover, .btn-primary:hover{
	background-color: #ffa21c!important;
    border-color: #E0880A;
}

.bg-dark-green .btn-bordered{
	border-color:#fff!important;
	color:#fff!important;
	background-color:transparent!important;
}

.btn-bordered.cl-orange{
	border-color:#FBA921!important
}

.btn-bordered.cl-black{
	border-color:#000000!important
}

.btn-bordered.cl-orange:hover{
	background-color:#FBA921!important;
	color:#fff!important;
}



.btn-bordered.btn-featured{
	border-width:2px!important;
}

.btn-bordered-white{
	border-color: #fff;
    border-width: 2px;
    background-color: rgba(0, 0, 0, 0);
}
.btn-bordered-white:hover{

}

.responsive-container {
position: relative;
padding-bottom: 53.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.responsive-container, .responsive-container iframe {
max-width:1280px;
max-height: 720px;
}
.responsive-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#preloader{
	display:none!important;
}

.overlay-yellow{
	background-color:rgba(255, 162, 28, 0.60)!important;
}

.nav-tabs>li >a{
	font-family: 'HelveticaMedium', sans-serif;
	font-weight:normal;
	color:#009041;
}

.nav-tabs>li.active>a, .nav-tabs>li>a:hover{
	color:#555!important;
	border-radius: 15px 0 0 0!important;
}

div.side-nav ul.list-group-bordered>li>a{
	padding: 10px 6px;
}


div.side-nav ul>li>a{
	color:#009041;
}

.inews-content-inner h3>a, div.side-nav ul>li:hover>a, div.side-nav ul>li.active>a, .pagination.pagination-simple>li.active>a, div.side-nav ul.list-group-bordered>li>a:hover, section .theme-color{
	color: #212121 !important;
}

/*catalog*/

div.shop-item{
	padding:5px 5px 20px 5px;
	border: 6px solid #F3F3F3;
	border-radius:3px;
}

div.shop-item>.thumbnail{
	padding:0!important;
	border:0!important;
	overflow: hidden;
}
div.shop-item
{
	margin-bottom: 15px;
}

.thumbnail.catalog_list {
    height: 200px;
}

img.img_list_catalog {
    max-height: 200px;
}


@media (max-width: 991px){
	.thumbnail.catalog_list {
		height: 130px;
		min-height:initial;
	}
	.shop-item *{
		font-size:13px!important;
	}
	img.img_list_catalog, .featured img {
		max-height: 120px!important;
	}

}


div.shop-item-summary h2{
	height:42px;
	overflow:hidden;
}

@media only screen and (max-width: 768px){
	section div.row>div {
		margin-bottom: 20px;
	}

	div.shop-item-summary h2{
		margin-top:20px;
	}
}


/*priduct*/
div.shop-item-price{
	font-family:HelveticaMedium;
	    font-weight: normal;
}

.price-and-button div.shop-item-price {
	font-size:30px;
}

@media only screen and (min-width: 991px){
	.product-add-cart-wrap{
		float:right;
	}
}

.nav-tabs.nav-bottom-border>li.active>a, .nav-tabs.nav-bottom-border>li.active>a:hover{

    border-bottom-color: #009041 !important;
}

.nav-tabs.nav-bottom-border {
	border-bottom:1px solid #ddd!important;
}

.product-tabs h1{
	font-size:25px;
}

.product-tabs h2{
	font-size:20px;
}

.product-tabs h3{
	font-size:18px;
}

.product-tabs h4{
	font-size:15px;
}

@media (max-width: 991px){
	.product-tabs ul > li > a{
		font-size:15px;
	}
}

figure.zoom{
	width:100%;

}

figure.zoom>a.lightbox{
	background-color:transparent;
	color:#009041;
}

.one-product-img{
	height:340px;
	border: 5px solid #F3F3F3;
}

.one-product-img figure{
	height:100%;

}

.one-product-img img.img-responsive{
		max-height:280px;
	}

@media (max-width: 768px){
	.one-product-img figure{
		/* margin-top: -80px; */
	}

	.one-product-img{
		display:inline-block;
		margin:0 auto;
	}
}

/* div.shop-item>.thumbnail>a.shop-item-image>img{
	max-height:200px;
} */

@media only screen and (max-width: 480px){
	.product-add-cart {
		display: inline-block !important;
	}
}

.featured img{
	max-height:200px;
}

.owl-carousel.featured a.shop-product-name{
	display:block;
	color:#009041!important;
	height:55px;
}

.header-search .input-group{
	width:250px;
}
.header-search .form-control{
	height:24px;
	padding: 4px 9px;
	border:none!important;
	border-radius:12px!important;
	    background-color: #C0E47A;
}

.header-search-btn{
    position: absolute;
    top: -4px;
    right: 0px;
    width: 30px;
    height: 30px;
    color: #009041;
    z-index: 55555;
}

@media only screen and (max-width: 992px){

	#header{
		height:auto!important;
	}

	#header li.search .search-box{
		top: 104px !important;
	}

	#header .form-control{
		border-radius: 0 15px;
		border-width: 1px;
	}
}

.blog-post-item{
	padding-top:30px;
	margin-bottom: 0;
    padding-bottom: 30px;
}

.blog-post-item h2{
	margin-top:0px;
}
@media only screen and (max-width: 768px){
	.article-page_img{
		float:none!important;
	}
}

.recipe-item-title{
	position:absolute;
	top:50%;
	margin-top:-85px;
	width:100%;
	padding:0 30px;
	color: #fff;

}

.recipe-item-title >h2{
	height:84px;
	text-shadow: 0px 0 5px #000,0px 0 15px #000, 0px 0 25px #000, 0px 0 35px #000;
}


.page-header-xs div.row>div{
	margin-bottom:0px;
}

/*color-schema*/


/** Green	#009041
 **************************************************************** **/
	::selection {
		background: #009041;
	}
	::-moz-selection {
		background: #009041; /* Firefox */
	}
	::-webkit-selection {
		background: #009041; /* Safari */
	}


	a,
	a:focus:not(.btn),
	section.dark a,
	#slidetop a:hover,
	h1 > span,
	h2 > span,
	h3 > span,
	h4 > span,
	h5 > span,
	h6 > span,
	.pagination>li>a,
	.pagination>li>a:hover,
	.pagination>li>span,
	ul.list-links>li>a:hover,
	#sidepanel ul li a[data-toggle="collapse"],
	#sidepanel ul li a[data-toggle="collapse"]:hover,
	#sidepanel ul li a:hover,
	.menu-list ul li a:hover, 		/* header-0.css */
	.menu-list ul li.active a, 		/* header-0.css */
	#menu_overlay_close:hover, 	/* header-0.css */
	#topMain.nav-pills>li.active>a>span.topMain-icon,
	#page-menu.page-menu-light ul>li:hover>a>i,
	#page-menu.page-menu-dark ul>li:hover>a>i,
	#page-menu.page-menu-transparent ul>li:hover>a>i,
	#page-menu.page-menu-light ul>li.active>a>i,
	#page-menu.page-menu-dark ul>li.active>a>i,
	#page-menu.page-menu-transparent ul>li.active>a>i,
	.tp-caption.block_white,
	section span.theme-color,
	section em.theme-color,
	section i.theme-color,
	section b.theme-color,
	section div.theme-color,
	section p.theme-color,
	.owl-carousel.featured a.figure>span>i,
	.owl-carousel.featured a:hover,
	figure.zoom>a.lightbox:hover,
	#portfolio h2>a:hover,
	#portfolio h3>a:hover,
	#portfolio h4>a:hover,
	#portfolio h5>a:hover,
	#portfolio h6>a:hover,
	.tab-post a:hover,
	.tag:hover>span.txt,
	section.dark .tag:hover>span.txt,
	ul.widget-twitter li>small>a:hover,
	.blog-post-item h2>a:hover,
	.blog-post-item h3>a:hover,
	.blog-post-item h4>a:hover,
	.blog-post-item h5>a:hover,
	.item-box .item-hover .inner .ico-rounded:hover>span,
	ul.side-nav>li:hover>a,
	ul.side-nav>li a:hover,
	ul.side-nav>li.active>a,
	a.href-reset:hover,
	a.href-reset.active,
	.href-reset a.active,
	.href-reset a:hover,
	.href-reset a.active,
	.price-clean-popular h4,
	.box-icon.box-icon-color i,
	.switch-primary.switch-round > input:checked + .switch-label:after,
	section.dark .nav-tabs.nav-clean>li.active>a {
		color: #009041;
	}

	#sidepanel.sidepanel-theme-color,
	div.alert.alert-theme-color,
	div.alert.alert-primary,
	span.badge-default,
	span.label-default,
	.list-group-item.active>.badge.badge-default,
	.nav-tabs.nav-alternate>li.active>a,
	.datepicker table tr td.active.active,
	.callout-theme-color,
	.progress-bar-primary,
	.toast-primary,
	.owl-theme .owl-controls .owl-page span,
	.open>.dropdown-toggle.btn-primary,
	.btn-primary,
	.btn-primary:hover,
	.btn-primary:active,
	.btn-primary:focus,
	.pagination>.active>a,
	.pagination>.active>a:hover,
	#header li.quick-cart .quick-cart-box a.btn,
	#header li.quick-cart .quick-cart-box a.btn:hover, /* used by dark & transparent header */
	#topMain.nav-pills>li.active>a>span.theme-color ,
	.ei-slider-thumbs li.ei-slider-element,			/* elastic slider active indicator */
	.flex-control-paging li a.flex-active,				/* flex slider bullets */
	.tp-caption.block_theme_color,
	.tp-bullets.simplebullets.round .bullet.selected,
	i.ico-color,
	.caption-primary,
	.shop-list-options .btn.active,
	.box-static.box-color,
	.switch.switch-primary > input:checked + .switch-label,
	.fancy-file-upload.fancy-file-primary>span.button,
	.primary-slider .ui-slider .ui-slider-handle:before,
	.primary-slider .ui-slider .ui-slider-range,
	.ribbon-inner,
	.info-bar.info-bar-color,
	.music-album-title:hover,
	.inews-item .inews-thumbnail .inews-sticky,
	#progressBar #bar,								/* OWL */
	#page-menu,
	#page-menu ul {
		background-color:#009041;
	}

	/* !important required */
	#music-player .mejs-controls .mejs-time-rail .mejs-time-current,
	#music-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
	section .theme-background,
	.swiper-pagination-bullet-active {
		background-color:#009041 !important;
	}

	.primary-slider .ui-slider .ui-slider-handle,
	.switch.switch-primary > input:checked + .switch-label,
	.timeline_center li h3:before,
	.timeline_center:after,
	a.thumbnail.active,
	a.thumbnail:hover,
	.hvr-reveal:before,
	.btn-primary,
	.btn-primary:hover,
	.btn-primary:active,
	.btn-primary:focus {
		border-color:#009041;
	}

	.open>.dropdown-toggle.btn-primary,
	.btn-primary,
	.btn-primary:active,
	.btn-primary:focus,
	.btn-primary:hover
	.pagination>.active>a,
	.pagination>.active>a:hover {
		border-color: #009041;
	}

	#topNav ul.dropdown-menu { /* submenu border top color */
		border-top-color:#009041;
	}
	section.featured-grid div.row>div .ribbon:before,
	.modal-content {
		border-top-color:#009041;
	}

	#topNav ul.dropdown-menu {
		border-color: #009041 #fff #fff;
	}
	#topNav div.submenu-dark ul.dropdown-menu {
		border-color: #009041 #3F3F3F #3F3F3F;
	}
	#topNav div.submenu-color ul.dropdown-menu {
		border-color: #009041 #3F3F3F #3F3F3F;
	}
	#topMain li.search .search-box {
		border-top: #009041 2px solid;
	}


	/* COLOR DROP DOWN MENU */
	#topNav div.submenu-color ul.dropdown-menu {
		background-color:#009041;
	}
	#topNav div.submenu-color ul.dropdown-menu {
		border-color: #888 #009041 #009041;
	}

	#topNav div.submenu-color ul.dropdown-menu a.dropdown-toggle {
		background-image: url('../../images/submenu_light.png');
	}
	#topNav div.submenu-color ul.dropdown-menu li.active>a,
	#topNav div.submenu-color ul.dropdown-menu li.active:hover>a,
	#topNav div.submenu-color ul.dropdown-menu li.active:focus>a,
	#topNav div.submenu-color ul.dropdown-menu li:hover>a,
	#topNav div.submenu-color ul.dropdown-menu li:focus>a,
	#topNav div.submenu-color ul.dropdown-menu li:focus>a {
		color:#fff;
		background-color:rgba(0,0,0,0.15);
	}
	#topNav div.submenu-color ul.dropdown-menu li.divider {
		background-color:rgba(255,255,255,0.3);
	}
	#topNav div.submenu-color ul.dropdown-menu>li a {
		color:#fff;
	}
	#topNav div.submenu-color #topMain>li.mega-menu div.row div>ul>li>span {
		color:#fff;
	}
	#topNav div.submenu-color #topMain>li.mega-menu div.row div {
		border-left: rgba(0,0,0,0.2) 1px solid;
	}


	section.theme-color,
	section.theme-color div.heading-title.heading-dotted h1,
	section.theme-color div.heading-title.heading-dotted h2,
	section.theme-color div.heading-title.heading-dotted h3,
	section.theme-color div.heading-title.heading-dotted h4,
	section.theme-color div.heading-title.heading-dotted h5,
	section.theme-color div.heading-title.heading-dotted h6 {
		color:#fff;
		background-color: #009041;
	}
	section.theme-color div.heading-title h1,
	section.theme-color div.heading-title h2,
	section.theme-color div.heading-title h3,
	section.theme-color div.heading-title h4,
	section.theme-color div.heading-title h5,
	section.theme-color div.heading-title h6 {
		background-color: #009041;
	}
	section.theme-color div.heading-title h1 span,
	section.theme-color div.heading-title h2 span,
	section.theme-color div.heading-title h3 span,
	section.theme-color div.heading-title h4 span,
	section.theme-color div.heading-title h5 span,
	section.theme-color div.heading-title h6 span {
		color:#fff;
	}
	section.theme-color a {
		color:#fff;
		text-decoration:none;
	}
	section.theme-color a:hover {
		color:#111;
	}
	section.theme-color pre {
		background-color:rgba(0,0,0,0.1);
	}
	section.theme-color div.heading-border-bottom.heading-color {
	  border-bottom-color:rgba(255,255,255,0.5);
	}


body.menu-vertical #mainMenu.sidebar-vertical .sidebar-nav .navbar li:hover>a,
body.menu-vertical #mainMenu.sidebar-vertical .dropdown-menu>.active>a,
body.menu-vertical #mainMenu.sidebar-vertical .dropdown-menu>.active>a:focus,
body.menu-vertical #mainMenu.sidebar-vertical .dropdown-menu>.active>a:hover,
body.menu-vertical #mainMenu.sidebar-vertical .navbar-default .navbar-nav>.active>a,
body.menu-vertical #mainMenu.sidebar-vertical .sidebar-nav .navbar li:hover>a {
	color:#009041 !important;
}


section.dark .btn-default:hover {
	color: #009041;
	background-color:rgba(0,0,0,0.3);
}


	section.page-header .breadcrumb a:hover  {
		color: #009041 !important;
		text-decoration:none;
	}


	div.divider.divider-color i {
		color:#fff;
	}
	div.divider.divider-color:before,
	div.divider.divider-color:after {
		border-top:#009041 1px solid;
	}
	div.divider.divider-color i {
		color:#009041;
	}
	div.divider.divider-circle.divider-color i {
		color:#fff;
		background-color: #009041;
	}
	div.divider.divider-border>a:hover>i {
		color:#009041;
	}


	div.heading-title.heading-line-single.heading-color:before,
	div.heading-title.heading-line-double.heading-color:before {
		border-color:#009041;
	}
	div.heading-border-bottom.heading-color {
		border-bottom-color:#009041;
	}
	div.heading-title.heading-border.heading-color,
	div.heading-title.heading-border.heading-inverse.heading-color {
		border-color:#009041;
	}
	section.dark div.heading-title.heading-border-bottom {
		border-bottom-color:#009041;
	}


.box-icon a.box-icon-title:hover>h2 {
	color:#009041;
}
.box-icon a.box-icon-title:hover>i {
	color:#fff;
	background-color:#009041;
}
.box-icon a.box-icon-more {
	color:#111;
}
.box-icon a.box-icon-more:hover,
section.dark .box-icon a.box-icon-more:hover {
	color:#009041;
}

.box-video a.box-video-title:hover h2,
.box-video a.box-image-title:hover h2 {
	color:#009041;
}

.box-flip .box2 {
	color:#fff;
	background-color:#009041;
}

.box-flip .box2 h1,
.box-flip .box2 h2,
.box-flip .box2 h3,
.box-flip .box2 h4,
.box-flip .box2 h5,
.box-flip .box2 h6 {
	color:#fff;
}

.box-static.box-border-top {
	border-color:#009041;
}

.navbar-primary {
	border-color:#009041 !important;
	background-color:#009041 !important;
}


section.dark .pagination > li.active>a,
.pagination > li.active>a {
	border-color:#009041;
	background-color:#009041;
}


.process-wizard-primary > .process-wizard-step > .process-wizard-dot,
.process-wizard-primary > .process-wizard-step > .progress > .progress-bar {
	background:#009041;
}
.process-wizard-primary > .process-wizard-step > .process-wizard-dot:after {
	background-color:rgba(0,0,0,0.4);
}

ul.process-steps li.active a,
ul.process-steps li.active a:focus,
ul.process-steps li.active:hover>a {
	background-color:#009041 !important;
	border-color:#009041 !important;
}

ul.process-steps li.active h1,
ul.process-steps li.active h2,
ul.process-steps li.active h3,
ul.process-steps li.active h4,
ul.process-steps li.active h5,
ul.process-steps li.active h6 {
	color:#009041;
}


div.mega-price-table .pricing-title,
div.mega-price-table .pricing-head,
div.mega-price-table .pricing.popular {
	background-color:#009041;
}


div.mega-price-table .pricing:hover h4,
div.mega-price-table .pricing-table i.fa {
	color:#009041;
}

section.dark i.ico-hover:hover,
i.ico-hover:hover {
	background-color:#009041;
	border-color:#009041;
}

.nav-tabs.nav-top-border>li.active>a,
.nav-tabs.nav-top-border>li.active>a:hover {
	border-top-color:#009041 !important;
}
.nav-tabs.nav-bottom-border>li.active>a,
.nav-tabs.nav-bottom-border>li.active>a:hover {
	border-bottom-color:#009041 !important;
}
.nav-tabs.nav-alternate>li.active>a {
	background-color: #009041 !important;
}
/* .nav-tabs>li.active>a {
	color: #009041 !important;
} */



.sky-form .toggle i:before {
	background-color: #009041;
}
.sky-form .button {
	background-color: #009041;
}


.sky-form .radio input + i:after {
	background-color: #009041;
}
.sky-form .checkbox input + i:after {
	color: #009041;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
	border-color: #009041;
}
.sky-form .rating input:checked ~ label {
	color: #009041;
}

.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
    box-shadow: inset 0 0 0 4px #009041, 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active,
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active,
.hvr-sweep-to-right:before,
.hvr-sweep-to-left:before,
.hvr-sweep-to-bottom:before,
.hvr-sweep-to-top:before,
.hvr-bounce-to-right:before,
.hvr-bounce-to-left:before,
.hvr-bounce-to-bottom:before,
.hvr-bounce-to-top:before ,
.hvr-radial-out:before,
.hvr-radial-in,
.hvr-rectangle-inm
.hvr-rectangle-out:before,
.hvr-shutter-in-horizontal,
.hvr-shutter-out-horizontal:before,
.hvr-shutter-in-vertical,
.hvr-shutter-out-vertical:before,
.hvr-underline-from-left:before,
.hvr-underline-from-center:before,
.hvr-underline-from-right:before,
.hvr-overline-from-left:before,
.hvr-overline-from-center:before,
.hvr-overline-from-right:before,
.hvr-underline-reveal:before,
.hvr-overline-reveal:before {
	background-color: #009041;
}

.border-orange{
	    border-color: #FAA820 !important;
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6{
	font-weight:normal!important;
}

#map1 canvas, #map2  canvas{
  width: auto  !important;
  /* max-width: 800px; causes panorama gmap problems */
  height: auto !important;
}

.chosen-container-single .chosen-single{
	height:40px!important;
	border:2px solid #DDD;
}



canvas{width:auto !important;height:auto !important}

.border-b {
	border-bottom:1px solid #ddd!important;
}








body
{
	background: url('../img/bg/wood.jpg');
}


body.boxed #wrapper
{
	margin-top: 0px;
    margin-bottom: 0px;
	border-radius: 0px;
	background: white;
	box-shadow: 0px 0px 10px 4px rgba(2, 2, 2, 0.46);
}

div.shop-item:hover
{
	border-color: #FBA921;
}


div.shop-item>.thumbnail>a.shop-item-image>img:first-child
{
	max-height: 195px;
}

section.page-header h1
{
	color: #FBA921;
}

h2
{
	color: #FBA921;
}